.Project {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    line-height: normal;
}

.ProjectContent {
    padding: 100px 100px 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.ProjectTitle {
    color: #FFF;
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.ProjectCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    align-items: stretch;
    /* line-height: 50%; */
    border-bottom: 2px solid white;
}