.Navbar {
    width: 100vw;
    height: 10vh;
    line-height: normal;
    display: flex;
}

.NavContent {
    padding: 30px 100px 30px 100px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navlogo {
    width: 60px;
}

.navitem {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navitem a {
    text-decoration: none;
    color: #FFF;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navitem a:hover {
    box-shadow: 2px 2px 20px white;
    padding: 10px 20px 10px 20px;
}

@media only screen and (max-width: 768px) {
    .navitem {
        display: none;
    }
}